/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2017, 2:33:10 PM
    Author     : mmjan
*/
/* Dropdown Button */
.dropdown-div {
    background-color: #312c2c;
    color: white;
    border: none;
    width: 364px;
    height: 66px;
    float: left;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.dropdown-div img {
    height: 64px;
    border-style: solid;
    border-color: black;
    border-width: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    left: calc(64px + 10.5%);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.dropdown-content table {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content table:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#next-group {
    min-width: 364px;
    width: 1280px;
    margin: 0% 10% 0% 10%;
}


#Messageboard-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 670px;
}

#messages {
    height:600px;
}

.ownMessageWrapper {
    
}

.otherMessageWrapper {
    text-align: right;
    margin-left: 35%;
    position: relative;
}

.ownMessagecss {
    background-color: #f3a5d0;
    color: white;
    padding: 10px 5px;
    display: inline-block;
    position: relative;
    right: 35%;
    max-width: 65%;
    left: 0%;
    border-style: double;
    border-width: thick;
}

.otherMessagecss {
    background-color: #E22F91;
    color: white;
    padding: 10px 5px;
    display: inline-block;
    border-style: double;
    border-width: thick;
}

.info-msg {
   display: inline-block;
   text-align: right;
   width: 150px;
   font-size: 10px;
}

.message-class {
    display: inline-block;
    width: calc(100% - 155px);
    text-align: left;
}

.msg-content {
    text-align: left;
}

.input-container {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

#btnSend {
    width: 110px;
    height: 56px;
    position: absolute;
}

#txtareamsg {
    height: 50px;
    width: calc(100% - 110px);
    resize: none;
}