/* div wrappers for radio buttons  */
.radio-wrapper-s {
	display: table; /* act like a table */
	height: 50px;	
}

.radio-wrapper-m {
	display: table;
	height: 75px;
}

.radio-wrapper-l {
	display: table;
	height: 100px;
}

/* main-radio button blocks based on radio wrappers */
.radio-wrapper-s label,
.radio-wrapper-m label,
.radio-wrapper-l label {
  display: table-cell; /* act like a table cell */
  width: 100px;
  text-align: center; /* put the text horizontally in the middle */
  vertical-align: middle; /* put the text vertically in the middle */
  background-color: #B0C4DE;
  color: #ffffff !important;
  font-weight: bold !important;
  border: 1px solid black;
}

.radio-wrapper-s input[type="radio"],
.radio-wrapper-m input[type="radio"],
.radio-wrapper-l input[type="radio"] {
  display: none;
}

.radio-wrapper-s input[type="radio"]:checked + label,
.radio-wrapper-m input[type="radio"]:checked + label,
.radio-wrapper-l input[type="radio"]:checked + label {
  background-color: #A9A9A9;
}

.radio-wrapper-s .label-default:hover,
.radio-wrapper-m .label-default:hover,
.radio-wrapper-l .label-default:hover {
  background-color: #A9A9A9;
  color: #ffffff !important;
}

/* option-radio button blocks */
.radio-wrapper-s .label-option,
.radio-wrapper-m .label-option,
.radio-wrapper-l .label-option {
  display: table-cell;
  width: 100px;
  background-color: blue;
  border: 1px solid black;
}

.radio-wrapper-s input[type="radio"]:checked + .label-option,
.radio-wrapper-m input[type="radio"]:checked + .label-option,
.radio-wrapper-l input[type="radio"]:checked + .label-option {
	background-color: purple;
}

.radio-wrapper-s .label-option:hover,
.radio-wrapper-m .label-option:hover,
.radio-wrapper-l .label-option:hover {
  background-color: green;
}

/* option-text and input based blocks */
.radio-wrapper-s .label-visual,
.radio-wrapper-m .label-visual,
.radio-wrapper-l .label-visual {
	display: table-cell;
	width: 100px;
	background-color: red;
	border: 1px solid black;
}

.radio-wrapper-s .label-visual input[type="text"],
.radio-wrapper-m .label-visual input[type="text"],
.radio-wrapper-l .label-visual input[type="text"] {
	width: 90%;
}

#searchText {
    background-image: url('/css/searchicon.png');
    background-position: calc(100% - 10px) 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 10px;
    border: 1px solid #ddd;
}

.searchbar {
    padding-left: 20px;
    padding-top: 10px;
    width: 400px;
}

#tbsearchresults {
    padding-left: 10px;
    background-color: white;
    position: absolute;
    width: 360px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    display: none;
}

.trsearch:hover {
    background-color: #D3D3D3;
}


/* other */