/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-mrt-2017, 13:27:46
    Author     : David
*/

h1 {
    text-align: center;
}

#workshop-container {
    width: 100%;
}

table {
    margin: auto;
}

table td {
    padding: 5px;
}

.event-single {
    width: 100%;
}

.event-single:hover {
    cursor: pointer;
}

.image:hover img,
.image:focus img {
    transform: scale(1.075);
    transition: all 2s;
}

.image {
    position: relative;
    height: 305px;
    width: 405px;
    display: inline-block;
    overflow: hidden;
}

.image img {
    overflow: hidden;
}

#event-dateTime {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    font-size: 18px;
    color: #FFF;
    background-color: #E22F91;
    padding: 2%;
    text-align: center;
}

.image img { 
    height: 305px;
    width: 405px;
}

#event-name {
    position: absolute;
    top: 225px;
    left: 30px;
    width: 100%;
    font-size: 33px;
    color: #FFF;
}

#event-type {
    position: absolute;
    top: 260px;
    left: 35px;
    width: 100%;
    font-size: 18px;
    color: #FFF;
}