/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-mrt-2017, 13:27:46
    Author     : David
*/

h1 {
    text-align: center;
}

#event-container {
    margin-top: 50px;
}
#workshop-container {
    width: 100%;
}

table {
    margin: auto;
}

table td {
    padding: 5px;
}

.event-single {
    width: 100%;
}

.event-single:hover {
    cursor: pointer;
}

.image:hover img,
.image:focus img {
    transform: scale(1.075);
    transition: all 2s;
}

.image {
    position: relative;
    height: 305px;
    width: 405px;
    display: inline-block;
    overflow: hidden;
}

.image img {
    overflow: hidden;
}

#event-dateTime {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    font-size: 18px;
    color: #FFF;
    padding: 2%;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.image img { 
    height: 305px;
    width: 405px;
}

#event-name {
    position: absolute;
    top: 225px;
    left: 30px;
    width: 100%;
    font-size: 33px;
    color: #FFF;
}

#event-type {
    position: absolute;
    top: 260px;
    left: 35px;
    width: 100%;
    font-size: 18px;
    color: #FFF;
}

#event-day-bar-list {
    z-index: 10;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #111111;
    float: left;
    margin-top: 1px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.event-day-bar-item {
    float: left;
    text-align: center;
}

.event-day-bar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 30px 8px 30px;
    text-decoration: none;
    font-size: 18px;
}

.event-day-bar-item a:hover {
    background-color: #333333;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  overflow: hidden;
  padding: 0.5% 20px 20px 0px;
  margin: auto;
  top: 40%;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#popup-event-type {
    background-color: #E22F91;
    color: #FFF;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom-right-radius: 5px;
}

#popup-wrapper {
    padding-left: 20px;
    padding-top: 30px;
}

#popup-event-name {
    font-size: 25px;
}

#popup-event-location {
    font-size: 12px;
}

#popup-workshop-form {
    margin-top: 30px;
}

#attend-button {
    margin-top: 5px;
    color: white;
    background-color: #333333;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    font-weight: 400;
    padding: 5px 20px 5px 20px;
}

#attend-button:hover {
    cursor: pointer;
}
